@import "tailwindcss";

@theme static {
  --color-alt: #0C0C0F;

  --font-lora: 'Lora Variable', arial;
}

@layer components {
  .btn {
    @apply relative flex cursor-pointer items-center justify-center gap-1 rounded-full bg-gradient-to-l from-indigo-500 via-purple-500 to-indigo-500 px-7 py-4 text-base leading-none text-white transition-all duration-300 ease-in;
    border: none;
    box-shadow:
      inset 0px 0px 5px #a5b4fca9,
      inset 0px 35px 30px var(--color-alt),
      0px 5px 10px #00000050;

    &::before {
      content: "";
      @apply absolute inset-[0] z-[-1] m-auto rounded-full shadow-none;
      filter: blur(0px);
      background: conic-gradient(var(--color-alt) 80deg,
          var(--color-indigo-500),
          var(--color-purple-500),
          var(--color-indigo-500),
          var(--color-alt) 280deg);
      transition: all 0.3s ease;
    }

    & span {
      @apply font-medium leading-none inline;
      text-shadow: 1px 1px 2px #0000006c;
    }

    & .ti {
      @apply inline;
    }

    &:hover::before {
      filter: blur(15px);
    }

    &:active {
      box-shadow:
        inset 0px 0px 5px #818cf8a9,
        inset 0px 35px 30px #000;
      margin-top: 3px;
      transform: scaleX(1.02);
      transition: transform 0.6s cubic-bezier(0.34, 3.56, 0.64, 1);

      &::before {
        filter: blur(5px);
        transform: translateY(1px);
      }
    }
  }
}