---
import BlogPost from "@/layouts/BlogPost.astro";

export const prerender = false;

const { slug } = Astro.params;

---

<BlogPost
  title={slug}
>
  <h1 class="text-4xl font-bold font-lora">loading {slug}</h1>
</BlogPost>