---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} David Acevedo
	<div class="social-links">
		<a href="https://www.instagram.com/davidchacevedo_/" target="_blank">
			<i class="ti ti-brand-instagram text-4xl" />
		</a>
		<a href="https://github.com/acevedoposada" target="_blank">
			<i class="ti ti-brand-github text-4xl" />
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
