---
import clsx from "clsx";

const { class: className } = Astro.props;
---

<span
  class={
    clsx(
      "highlight relative inline-block rounded-lg bg-gradient-to-r from-indigo-500 to-purple-500 px-1 pb-1 [background-size:0__100%]",
      className
    )
  }
>
  <slot />
</span>

<style>
  .highlight {
    background-repeat: no-repeat;
    background-position: left bottom;
    display: inline;
    animation: highlight-bg-grow 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  }

  @keyframes highlight-bg-grow {
    from {
      background-size: 0% 100%;
    }
    to {
      background-size: 100% 100%;
    }
  }
</style>