---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';

import '@fontsource/ubuntu/300.css';
import '@fontsource/ubuntu/400.css';
import '@fontsource/ubuntu/500.css';
import '@fontsource/ubuntu/700.css';
import '@fontsource-variable/lora';

import '../styles/tailwind.css';

type Props = CollectionEntry<'blog'>['data'];

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="flex flex-col min-h-screen">
		<main class="grid flex-1 container mx-auto pt-12">
			<slot />
		</main>
		<Footer />
	</body>
</html>
